/* Змінни */
:root {
  --tittle-color: #2b7fff;
  --small-color1: #747272;
  --small-color2: #4a4a4a;
  --main-color: #011c44;
  --white-color: white;
  --black-color: black;
}

/* Теги */
body {
  color: var(--main-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
form input {
  font-family: 'Roboto';
  font-weight: 400;
}

form input {
  background: none;
}
.text-service,
footer p:not(.small-text)footer,
footer a,
form input::placeholder,
footer p:not(.small-text) {
  color: var(--white-color);
}
h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
/* Класси */
.nav-link a:hover,
.main-tittle {
  color: var(--tittle-color);
}
.small-gray-text-header {
  color: var(--small-color2);
}
.access-to-potitic,
.small-text {
  color: var(--small-color1);
}
.button-with-arrow {
  background: none;
  border: none;
}
.button-order {
  background-color: var(--tittle-color);
  font-weight: 600;
  color: var(--white-color);
  border-radius: 32px;
  border: none;
}
.button-order:hover {
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--tittle-color);
}
.section-tittle .access {
  color: var(--tittle-color);
}
.info-box p {
  color: var(--black-color);
}
