/* Змінни */
:root {
  --tittle-color: #2b7fff;
  --small-color1: #747272;
  --small-color2: #4a4a4a;
  --white-color: white;
}

/* Теги */

span {
  color: var(--tittle-color);
  font-weight: 700;
}
p,
form input {
  font-family: 'Roboto';
  font-weight: 400;
}

button,
form input::placeholder {
  color: var(--white-color);
}
form input {
  background: none;
}
footer p:not(.small-text) {
  color: var(--white-color);
}
h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
button {
  background-color: var(--tittle-color);
  font-weight: 600;
}

/* Класси */

.text-service,
footer p:not(.small-text) {
  color: var(--white-color);
}

.small-gray-text-header {
  color: var(--small-color2);
}
.small-text {
  color: var(--small-color1);
}
.button-with-arrow {
  background: none;
  border: none;
}
